.experience {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-top: 1rem;

  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 3% 25%,
    rgba(0, 0, 0, 1) 17%,
    rgba(4, 102, 147, 1) 90%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    rgba(0, 0, 0, 1) 17%,
    rgba(4, 102, 147, 1) 90%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 25%,
    rgba(0, 0, 0, 1) 17%,
    rgba(4, 102, 147, 1) 90%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 25%,
    rgba(0, 0, 0, 1) 17%,
    rgba(4, 102, 147, 1) 90%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 25%,
    rgba(0, 0, 0, 1) 17%,
    rgba(4, 102, 147, 1) 90%
  );
}

.experience-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 2rem 2rem;
}

.experience-rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 2rem 2rem;
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  color: #fff;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  margin-top: 20px; /* Adjust this value to control the vertical spacing */
}

.experience-link {
  margin-right: 30px; /* Adjust this value to control the horizontal spacing */
  text-transform: uppercase;
}

.experience-heading h1 {
  font-size: 60px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  color: #fff;
  text-align: left;
  padding-bottom: 3rem;
}

.experience-heading p {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  color: #fff;
  text-align: center;
}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  margin-top: 2rem;
}

@media screen and (max-width: 650px) {
  .experience-services .experience__services-container__services {
    flex-direction: column;
  }

  .experience-services .experience__services-container__services-text {
    margin-top: 0.5rem;
  }

  .experience-heading h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .experience-heading p {
    font-size: 28px;
    line-height: 40px;
  }
  .experience-rows {
    font-size: 28px;
    line-height: 40px;
  }
}

@media screen and (max-width: 350px) {
  .experience-services .experience__services-container__services {
    margin: 1rem 0;
    min-width: 100%;
  }
}

@media (max-width: 768px) {
  .experience-rows {
    flex-direction: column;
    align-items: center;
  }

  .experience-link {
    margin: 5px 0;
  }
}
